body
{
    display: grid;
    zoom: 200%;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 32);
}
#display
{
    color: white;
    background-color: rgb(62,62,66) ;
    width: 204px;
    height: 15px;
    border-width: 0.1px;
    border-radius: 3px;
    text-align: right;
    padding-top: 20px;
}
.btn
{
    font-size: 10px;
    border-width: 0;
    width: 50px;
    height: 20px;
    margin-top: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.num:hover
{
    background-color: rgb(97, 97, 104);
}
.num
{
    color: white;
    background-color: rgb(62,62,66);
}
.op
{
    color: white;
    background-color: rgb(99, 101, 105);
}
.op:hover
{
    background-color: rgb(133, 136, 143);
}
.eq
{
    color: black;
    background-color: rgb(106, 153, 255);
}
.eq:hover
{
    background-color: rgb(146, 180, 252);
}